@model ITIndeed.BL.Event

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="../../Content/Theme/index.html">Home</a></li>
            <li>@Html.DisplayFor(model => model.Name)</li>
        </div>
    </div>
</div>
<div class="container evd">
    <h2><b>@Html.DisplayFor(model => model.Name)</b></h2>
    <a href="/Event/Edit/@Html.DisplayFor(model => model.Id)" class="text-primary">Edit</a> |
    <a href="/Event/Delete/@Html.DisplayFor(model => model.Id)" class="text-primary">Delete</a>
    <div class="Event">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name) of Event
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <div class="pt">
                <dt>
                    @*@Html.DisplayNameFor(modelItem => modelItem.Users[0].UserName)*@
                    People Attending:
                </dt>
                @for (var i = 0; i < Model.Users.Count(); i++)
                {
                    <dd>
                        @Html.DisplayFor(modelItem => modelItem.Users[i].UserName)
                    </dd>
                }
            </div>
            <div class="pt">
                <dt>People Interested:</dt>
                <dd>
                    @Html.DisplayFor(model => model.InterestedCount)
                </dd>
            </div>
        </dl>
    </div>
    <div class="fb-share-button btn" data-href="@Request.Url.GetLeftPart(UriPartial.Path)" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="I'm Interested" class="btn btn-primary" onclick="location.href='@Url.Action("AddUserInterestedInEvent" , new { id = Model.Id })'" />
        </div>
    </div>
    <p class="text-primary">
        <a href="/Event" class="text-primary">Back to List of Events</a>
    </p>
</div>