@model IEnumerable<ITIndeed.BL.Event>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="../../Content/Theme/index.html">Home</a></li>
            <li>@ViewBag.Title</li>
        </div>
    </div>
</div>
<div class="container event">
    <h2><b>Events</b></h2>

    
    <table class="table ev mt">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Type of Event
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                @*<td> //I am just leaving this in for now for reference
                        @Html.RadioButtonFor(modelItem => item.Id, item.Id)
                    </td>*@
                <td>
                    <a class="text-primary" href="/Event/Details/@Html.DisplayFor(modelItem => item.Id)">  @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                    @Html.ActionLink("Join this Event", "AddUserToEvent", new { id = item.Id }, new { @class = "btn-primary" })
                </td>
            </tr>
        }

            <tr class="tblCreate">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td >
                     <a href="/Event/Create" class="btn-primary">Create New Event</a>
                </td>
            </tr>
    </table>

    @* //For Reference <input type="button" class="btn btn-primary" value="Add User to Event" onclick="location.href='@Url.Action("AddUserToEvent", "Event")'" />*@

</div>