@model ITIndeed.BL.Employer

@{
    ViewBag.Title = @Html.DisplayFor(model => model.OrganizationName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="../../Content/Theme/index.html">Home</a></li>
            <li>@Html.DisplayFor(model => model.OrganizationName)</li>
        </div>
    </div>
</div>
<div class="container profile">
    <div class="col-md-4 pt ">
        <div class="figure">
            @Html.Raw("<img class='circle' src='" + Model.ProfilePictureView + "' />")
        </div>
    </div>
    <div class="col-md-6 pt profile-header">
        <h1><b>@Html.DisplayFor(model => model.OrganizationName)</b></h1>
        <h4>Employer - @Html.DisplayFor(model => model.RepresentativeFirstName) @Html.DisplayFor(model => model.RepresentativeLastName)</h4>
    </div>
    <div class="col-md-12">
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.RepresentativeFirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepresentativeFirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepresentativeLastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepresentativeLastName)
            </dd>

            <dt>
                Organization
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Industry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Industry)
            </dd>

            <hr />

            <h3>Contact @Html.DisplayFor(model => model.RepresentativeFirstName):</h3>
            <dt>
                @Html.DisplayNameFor(model => model.Phone):
            </dt>

            <dd>
                <a href="tel:@Html.DisplayFor(model => model.Phone)" class="text-primary">@Html.DisplayFor(model => model.Phone)</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email):
            </dt>

            <dd>
                <a href="mailto:@Html.DisplayFor(model => model.Email)" target="_top" class="text-primary">@Html.DisplayFor(model => model.Email)</a>
            </dd>
        </dl>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.EmployerId }, new { @class = "text-primary link-font" }) |
            @Html.ActionLink("Back to List of Employers", "Index", "", new { @class = "text-primary link-font" })
        </p>
    </div>
</div>