@model ITIndeed.MVC.UI.Models.EmployerStudentProfileImage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employer</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.employer.ProfilePicture)
        </dt>

        <dd>
            <img runat="server" src="~/Image/pfpImage.jpg" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer.RepresentativeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer.RepresentativeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer.RepresentativeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer.RepresentativeLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer.Industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer.Industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employer.EmployerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
