@model IEnumerable<ITIndeed.BL.Employer>

@{
    ViewBag.Title = "Employer Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="../../Content/Theme/index.html">Home</a></li>
            <li>@ViewBag.Title</li>
        </div>
    </div>
</div>
<div class="container employer">
    <h2>Employer Search</h2>
    <hr />
    <p>
        @using (Html.BeginForm("Index", "EmployerProfile", FormMethod.Get))
        {
            <div class="col-md-4 inline-block">
                <input class="" id="search" name="search" type="text" value="">
                <input type="submit" value="Search">
            </div>
            <div class="col-md-6">
                <b class="pr">Search By:</b>
                <input class="pr" checked="checked" id="searchBy" name="searchBy" type="radio" value="OrganizationName"><text class="pr"> Organization Name</text>
                <input class="pr" id="searchBy" name="searchBy" type="radio" value="Industry"><text class="pr">Industry</text>
            </div>
            <br /><br />

        }

    </p>
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry)
            </th>

        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">No records match search criteria</td>
            </tr>
        }
        else
        {


            foreach (var item in Model)
            {
                <tr class="e">
                    <td class="pr">
                        <a class="text-primary" href="/EmployerProfile/Details/@Html.DisplayFor(model => item.EmployerId)">
                            <div class="figure">
                                <img class="circle" src="~/pfpImageFolder/pfpImage.jpg" />
                            </div>
                        </a>
                    </td>                       
                    <td>
                        <a class="text-primary" href="/EmployerProfile/Details/@Html.DisplayFor(model => item.EmployerId)">@Html.DisplayFor(model => item.OrganizationName)</a>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Industry)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployerId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployerId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployerId })
                    </td>*@
                </tr>
            }
        }
    </table>
</div>