@model IEnumerable<ITIndeed.BL.Employer>

@{
    ViewBag.Title = "Employer Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="../../Content/Theme/index.html">Home</a></li>
            <li>@ViewBag.Title</li>
        </div>
    </div>
</div>
<div class="container employer">
    <h2>Employer Search</h2>
    <hr />
    <p>
        @using (Html.BeginForm("Index", "EmployerProfile", FormMethod.Get))
        {
            <div class="col-md-4 inline-block">
                <input class="" id="search" name="search" type="text" value="@Session["search"]">
                <input type="submit" value="Search">
            </div>
            <div class="col-md-6">
                <b class="pr">Search By:</b>
                <input @ViewData["OrganizationName"] class="pr" id="searchBy" name="searchBy" type="radio" value="OrganizationName"><text class="pr"> Organization Name</text>
                <input @ViewData["Industry"] class="pr" id="searchBy" name="searchBy" type="radio" value="Industry"><text class="pr">Industry</text>
            </div>
            <div class="col-md-8">
                <b class="pr">Show Results:</b>
                <select class="pr" id="pageSize" name="pageSize">
                    <option @ViewData["5"] class="pr" id="pageSize" value=5>Show 5</option>
                    <option @ViewData["10"] class="pr" id="pageSize" value=10>Show 10</option>
                    <option @ViewData["20"] class="pr" id="pageSize" value=20>Show 20</option>
                    <option @ViewData["50"] class="pr" id="pageSize" value=50>Show 50</option>
                </select>
            </div>
            <br /><br />

        }

    <p class="">
        <a @ViewData["PagePreviousCheck"] class="text-primary link-font" href="/EmployerProfile/PagePrevious">Previous Page</a> ||
        <a @ViewData["PageNextCheck"] class="text-primary link-font" href="/EmployerProfile/PageNext">Next Page</a>
    </p>

    </p>
    <table class="table pb mb">
        <tr>
            <th class="picTD"></th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry)
            </th>

        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">No records match search criteria</td>
            </tr>
        }
        else
        {


            foreach (var item in Model)
            {
                <tr class="e">
                    <td class="picTD">
                        <a class="text-primary" href="/EmployerProfile/Details/@Html.DisplayFor(model => item.EmployerId)">
                            <div class="figure">
                                Html.Raw("<img class='circle' src='" + item.ProfilePictureView + "' />")
                            </div>
                        </a>
                    </td>
                    <td>

                        <a class="text-primary" href="/EmployerProfile/Details/@Html.DisplayFor(model => item.EmployerId)">@Html.DisplayFor(model => item.OrganizationName)</a>

                    </td>
                    <td class="border-left">
                        @Html.DisplayFor(modelItem => item.Industry)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployerId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EmployerId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EmployerId })
                        </td>*@
                </tr>
            }
        }
    </table>



</div>