@model ITIndeed.BL.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="../../Content/Theme/index.html">Home</a></li>
            <li>@ViewBag.Title</li>
        </div>
    </div>
</div>
<div class="container profile">
    <div class="col-md-4 pt ">
        <div class="figure">
            <img class="circle" src="~/pfpImageFolder/pfpImage.jpg" />
        </div>
    </div>
    <div class="col-md-6 pt profile-header">
        <h2>@Html.DisplayFor(model => model.StudentFirstName) @Html.DisplayFor(model => model.StudentLastName)</h2>
        <h4>Student</h4>
    </div>

    <div class="col-md-12">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.School):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FieldOfStudy):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FieldOfStudy)
            </dd>

            <hr />
            <h3>Contact @Html.DisplayFor(model => model.StudentFirstName):</h3>
            <dt>
                @Html.DisplayNameFor(model => model.Phone):
            </dt>

            <dd>
                <a href="tel:@Html.DisplayFor(model => model.Phone)" class="text-primary">@Html.DisplayFor(model => model.Phone)</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email):
            </dt>

            <dd>
                <a href="mailto:@Html.DisplayFor(model => model.Email)" target="_top" class="text-primary">@Html.DisplayFor(model => model.Email)</a>
            </dd>

        </dl>

    </div>
    @*<p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
        </p>*@
</div>